<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.subhajitdas.c">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".login.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- android:windowSoftInputMode="adjustResize" -->

        <activity android:name=".post.PostActivity" />
        <activity
            android:name=".read.ReadPostActivity" />
        <activity
            android:name=".upload.UploadPost"
            android:parentActivityName=".post.PostActivity" />
        <activity
            android:name=".edit.EditPostActivity"
            android:parentActivityName=".read.ReadPostActivity" />

        <activity android:name=".profile.ProfileActivity" />
        <activity
            android:name=".editProfile.ProfileEdit"
            android:parentActivityName=".profile.ProfileActivity" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".profile.SearchUserActivity"
            android:parentActivityName=".profile.ProfileActivity" />

        <activity android:name=".about.AboutActivity"
            android:parentActivityName=".post.PostActivity"/>
    </application>

</manifest>